  #glance h6{
    padding-bottom: 10px;
  }

  #glance a, li{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  #glance {
      display: block;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 10%;
      padding-top: 10%;
      background-color: rgb(202, 202, 202);
      margin-left: 76%;
  }

  #glance  a {
    text-decoration: none;
    color: black;
    width: fit-content;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  #glance a:hover {
    text-decoration: underline;
  }
